/* Check out the image for more information on what this should look like, 
    the image of what I looked at was deleted from the source so I found a similar one
*/
body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 50px auto;
}

.body {
    width: 230px;
    height: 80px;
    background-color: skyblue;
    border: 1px solid black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

.head {
    width: 78px;
    height: 60px;
    background-color: skyblue;
    border: 1px solid black;
    position: absolute;
    left: -34.5%;
    top: 11.5%;
    border-right-color: skyblue;
}

.top {
    width: 50px;
    height: 40px;
    background-color: skyblue;
    border: 1px solid black;
    position: absolute;
    top: 12%;
    left: -50%;
}

.top:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -11.5px;
    width: 20px;
    height: 20px;
    background-color: white;
    transform: rotate(44deg);
    border-right: 1px solid black;
}

.top:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: -11.5px;
    width: 20px;
    height: 20px;
    background-color: white;
    transform: rotate(-44deg);
    border-right: 1px solid black;
}

.tube {
    position: absolute;
    top: 24%;
    right: 0;
    width: 210px;
    height: 40px;
    background-color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.tube:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -11.5px;
    width: 19px;
    height: 19px;
    background-color: skyblue;
    transform: rotate(44deg);
    border-right: 1px solid black;
}

.tube:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: -10px;
    width: 19px;
    height: 20px;
    background-color: skyblue;
    transform: rotate(-44deg);
    border-right: 1px solid black;
}

.tubetwo {
    position: absolute;
    top: 35%;
    left: -48%;
    width: 136px;
    height: 13px;
    background-color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.itube {
    position: absolute;
    right: 0;
    top: 22%;
    width: 175px;
    height: 19px;
    background-color: #aaa;
    border: 1px solid black;
    border-right: none;
}

.box {
    position: absolute;
    top: -9px;
    left: 3px;
    width: 36px;
    height: 36px;
    border: 1px solid black;
}

.itop {
    position: absolute;
    top: -3px;
    left: -22px;
    width: 22px;
    height: 22px;
    background-color: #aaa;
    border: 1px solid black;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.itop:before {
    content: '';
    position: absolute;
    top: -7px;
    left: 2px;
    width: 6px;
    height: 19px;
    background-color: white;
    transform: rotate(57deg);
    border-right: 1px solid black;
}

.itop:after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 2px;
    width: 6px;
    height: 19px;
    background-color: white;
    transform: rotate(-57deg);
    border-right: 1px solid black;
}

.fixone {
    position: absolute;
    top: -5px;
    left: -2px;
    width: 10px;
    height: 10px;
    background-color: white;
    transform: rotate(57deg);
}

.fixtwo {
    position: absolute;
    bottom: -5px;
    left: -2px;
    width: 10px;
    height: 10px;
    background-color: white;
    transform: rotate(-57deg);
}

.spiralone {
    position: absolute;
    top: 7px;
    left: 34px;
    width: 27px;
    height: 2px;
    border: 1px solid black;
    transform: rotate(70deg);
    border-radius: 30px;
    background-color: #aaa;
}

.spiraltwo {
    position: absolute;
    top: 7px;
    left: 54px;
    width: 27px;
    height: 2px;
    border: 1px solid black;
    transform: rotate(70deg);
    border-radius: 30px;
    background-color: #aaa;
}

.spiralthree {
    position: absolute;
    top: 7px;
    left: 74px;
    width: 27px;
    height: 2px;
    border: 1px solid black;
    transform: rotate(70deg);
    border-radius: 30px;
    background-color: #aaa;
}

.spiralfour {
    position: absolute;
    top: 7px;
    left: 94px;
    width: 27px;
    height: 2px;
    border: 1px solid black;
    transform: rotate(70deg);
    border-radius: 30px;
    background-color: #aaa;
}

.spiralfive {
    position: absolute;
    top: 7px;
    left: 114px;
    width: 27px;
    height: 2px;
    border: 1px solid black;
    transform: rotate(70deg);
    border-radius: 30px;
    background-color: #aaa;
}

.spiralsix {
    position: absolute;
    top: 7px;
    left: 134px;
    width: 27px;
    height: 2px;
    border: 1px solid black;
    transform: rotate(70deg);
    border-radius: 30px;
    background-color: #aaa;
}

.spiralseven {
    position: absolute;
    top: 7px;
    left: 154px;
    width: 27px;
    height: 2px;
    border: 1px solid black;
    transform: rotate(70deg);
    border-radius: 30px;
    background-color: #aaa;
}

